<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Soldier Data Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button class="btn btn-outline-primary" (click)="addSoldier()">Add Soldier <i class="fa fa-user-plus"></i></button>
      </li>
      &nbsp;
      <li class="nav-item">
        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Delete Soldier <i class="fa fa-user-times"></i></button>
      </li>
      &nbsp;
      <li class="nav-item">
        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#importModal">Import <i class="fa fa-upload"></i></button>
      </li>
      &nbsp;
      <li class="nav-item">
        <button class="btn btn-outline-primary" (click)="getJson()">Export <i class="fa fa-download"></i></button>
      </li>
      &nbsp;
      <li class="nav-item">
        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#settingsModal">Settings <i class="fa fa-cog"></i></button>
      </li>
      &nbsp;
    </ul>
    <div class="input-group col-3">
      <input class="form-control" type="search" placeholder="Name" aria-label="Search" [(ngModel)]="searchName" [ngbTypeahead]="search">
      &nbsp;
      <button class="btn btn-outline-primary" (click)="gotoSoldier(searchName)">Find Soldier <i class="fa fa-search"></i></button>
    </div>
  </div>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Rank</th>
      <th scope="col">APFT Date</th>
      <th scope="col">APFT Status</th>
      <th scope="col">HT/WT Date</th>
      <th scope="col">HT/WT Status</th>
      <th scope="col">Body Comp Status</th>
      <th scope="col">PHA Date</th>
      <th scope="col">MRC</th>
      <th scope="col">Dental Date</th>
      <th scope="col">DRC</th>
      <th scope="col">Weapons Date</th>
    </tr>
  </thead>
  <tbody *ngFor="let soldier of data.soldiers">
    <tr [className]="searchName !== '' && searchName === generateName(soldier) ? 'bg-light' : ''" soldier [id]="generateName(soldier)" [soldierData]="soldier" [settings]="data.settings">
    </tr>
  </tbody>
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Name" aria-label="Search" [(ngModel)]="deleteName" [ngbTypeahead]="search">
          &nbsp;
          <button class="btn btn-outline-danger" (click)="removeSoldier(deleteName)">Delete Soldier <i class="fa fa-user-times"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Import</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input (change)="onFileChanged($event)" type="file">
      </div>
      <div class="modal-footer">
        <button type="button" [disabled]="importFile === null" (click)="loadJson()" class="btn btn-outline-primary">Load file</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <label>Days before APFT expires</label>
            <input type="number" [(ngModel)]="data.settings.ptExpiredDays">
          </div>
          <div class="col-6">
            <label>Days before APFT warning</label>
            <input type="number" [(ngModel)]="data.settings.ptWarningDays">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6">
            <label>Days before HT/WT expires</label>
            <input type="number" [(ngModel)]="data.settings.htwtExpiredDays">
          </div>
          <div class="col-6">
            <label>Days before HT/WT warning</label>
            <input type="number" [(ngModel)]="data.settings.htwtWarningDays">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6">
            <label>Days before PHA expires</label>
            <input type="number" [(ngModel)]="data.settings.phaExpiredDays">
          </div>
          <div class="col-6">
            <label>Days before PHA warning</label>
            <input type="number" [(ngModel)]="data.settings.phaWarningDays">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6">
            <label>Days before Dental expires</label>
            <input type="number" [(ngModel)]="data.settings.dentalExpiredDays">
          </div>
          <div class="col-6">
            <label>Days before Dental warning</label>
            <input type="number" [(ngModel)]="data.settings.dentalWarningDays">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6">
            <label>Days before Weapon expires</label>
            <input type="number" [(ngModel)]="data.settings.weaponsExpiredDays">
          </div>
          <div class="col-6">
            <label>Days before Weapon warning</label>
            <input type="number" [(ngModel)]="data.settings.weaponsWarningDays">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
